.results-container-outer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  scroll-behavior: smooth;
}

.results-container-inner {
  padding-top: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  max-width: 1440px;
}

.results-leftCol {
  padding-bottom: 25px;
  height: calc(100% - 100px);
  position: relative;
  width: calc(100% - 330px);
}

.results-fakeNav {
  height: 50px;
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  width: 100%;
}

.results-fakeNav-rightCol {
  flex-basis: 40%;
  /* background-color: #ffd2ba; */
  background-color: white;
  height: 100%;
}

.results-fakeNav-leftCol {
  flex-basis: 60%;
  background-color: white;
  height: 100%;
}

.results-leftCol-inner {
  height: 90%;
  width: 100%;
  align-items: center;
  position: relative;
}

.hide {
  display: none;
}

.invisible {
  visibility: none;
}

.results-menu-hide-arrow {
  width: 10px;
}

.results-menu-hide-div {
  display: none;
  text-align: center;
}

input:focus {
  outline: none;
}

.results-rightCol {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);
  width: 280px;
}

.results-rightCol-inner {
  height: calc(100% - 130px);
  top: 80px;
  bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  min-width: 260px;
}

.results-your-measurements {
  color: black;
  font-size: 1.1em;
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0px;
  text-align: right;
}

.results-your-measurements:hover {
  text-decoration: underline;
}

.results-input {
  border: none;
  text-align: right;
  font-family: 'DM Serif Display', serif;
  color: black;
  font-size: 1.5em;
  background-color: unset;
  text-transform: capitalize;
  width: 100%;
}

.results-match {
  color: black;
  font-family: 'Helvetiva Neue', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.results-input::placeholder {
  color: black;
  text-align: right;
  font-size: 1em;
  opacity: 0.55;
  font-family: 'DM Serif Display', serif;
}

.results-loadMore-wrapper {
  width: 250px;
  margin-bottom: 40px;
}

.results-loadMore-btn {
  background-color: #ffd2ba;
  border-radius: 50px;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 12px 20px;
  width: 20px;
  border: none;
  font-family: 'Helvetiva Neue', sans-serif;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.4s ease;
}

.results-loadMore-btn:hover {
  width: 250px;
}

.results-review-wrapper {
  margin-bottom: 30px;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.results-review {
  font-size: 0.9em;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: black;
  text-decoration: underline;
  transition: all 0.4s ease;
  margin-top: 0px;
  margin-bottom: 1px;
  cursor: pointer;
}

.results-review-text {
  font-size: 0.9em;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  color: black;
  transition: all 0.4s ease;
  margin-top: 0px;
  margin-bottom: 1px;
}

.results-review:hover {
  color: #69dbd3;
}

.results-loadMore-btn-div {
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-grid {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-evenly;
}

.results-col {
  max-width: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.results-heart-fill {
  width: 15px;
  position: absolute;
  right: 0px;
  top: 15px;
  padding: 10px;
  z-index: 10;
  background-image: url('../../assets/images/heart_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease;
}

.results-heart-outline {
  width: 15px;
  position: absolute;
  right: 0px;
  top: 15px;
  padding: 10px;
  z-index: 10;
  background-image: url('../../assets/images/heart_outline.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease;
}

.results-getReview-wrapper {
  background-color: black;
  display: flex;
  width: calc(100% - 40px);
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50px;
  left: 0px;
  z-index: 99;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
}

.results-getReview-text {
  text-decoration: none;
  transition: all 0.4s ease;
  color: white;
  font-weight: bold;
  font-family: 'Helvetica Neue', sans-serif;
  margin-top: 0px;
  margin-bottom: 1px;
  font-size: 0.9em;
  max-width: 100%;
  cursor: pointer;
}

.results-getReview-text:hover {
  text-decoration: underline;
}

.results-item-div {
  position: relative;
  text-align: center;
  width: 100%;
  padding-bottom: 70px;
  max-width: 350px;
}

.results-text {
  font-weight: bold;
  color: black;
  font-family: 'Helvetiva Neue', sans-serif;
  text-align: right;
  font-size: 1em;
  margin-bottom: 5px;
}

.results-text-large {
  font-weight: bold;
  color: black;
  font-family: 'Helvetiva Neue', sans-serif;
  text-align: right;
  font-size: 1.1em;
  margin-top: 0px;
}

.results-edit {
  font-weight: bold;
  color: black;
  font-family: 'Helvetiva Neue', sans-serif;
  font-size: 1em;
  margin-top: 5px;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
}

.results-edit:hover {
  text-decoration: underline;
}

.results-measurement-wrapper {
  display: flex;
  justify-content: space-between;
}

.results-recommended-div {
  position: absolute;
  top: 50px;
  right: 0px;
  visibility: visible;
  opacity: 1;
  transition: 0.4s all ease;
}

.results-recommended-div-hide {
  visibility: hidden;
  opacity: 0;
  transition: 0.4s all ease;
  display: none;
}

.results-recommended-wrapper {
  max-width: 450px;
}

.results-measurement-label {
  color: black;
  font-family: 'DM Serif Display', serif;
  font-size: 2em;
  display: inline-block;
  margin: 0;
}

.results-measurement {
  color: black;
  font-family: 'Helvetiva Neue', sans-serif;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.results-price {
  bottom: 0;
  left: 0;
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.15em;
  margin-top: 0;
}

.results-rating {
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  margin-top: 20px;
  font-size: 0.85em;
}

.results-color {
  font-family: 'DM Serif Display', serif;
  color: black;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 1em;
}

.results-brand {
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  margin-top: 5px;
}

.results-img {
  width: 310px !important;
  height: 460px !important;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.results-your-measurements-label {
  font-family: 'DM Serif Display';
  font-size: 1.5em;
  margin: 2px 0px;
  text-align: right;
}

.results-menu-show-div {
  display: none;
}

.results-percentageMatch {
  margin: 2px 0px;
}

.bold {
  font-weight: bolder;
}

.results-menu-show-div-hidden {
  transition: all 1s ease-in-out;
  display: none;
}

@media (max-height: 880px) {
  .results-container-inner {
    padding-top: 30px;
  }

  .results-item-div {
    padding-bottom: 30px;
  }
}

@media (max-height: 815px) {
  .results-img {
    width: 260px !important;
    height: 400px !important;
  }
}

@media (max-height: 705px) {
  .results-img-single {
    max-height: 470px;
  }

  .results-title-div {
    margin-top: 11vh;
  }
}

@media (max-width: 1322px) {
  .results-img {
    width: 320px !important;
    height: 480px !important;
  }
}

@media (max-width: 1313px) {
  .results-title {
    font-size: 2.5em;
  }
}

@media (max-width: 1215px) {
  .results-title {
    font-size: 2.3em;
  }
}

@media (max-width: 1210px) {
  .results-img {
    width: 300px !important;
    height: 460px !important;
  }
}

@media (max-width: 1123px) {
  .results-img {
    width: 260px !important;
    height: 400px !important;
  }
}

@media (max-width: 1015px) {
  .results-img {
    width: 240px !important;
    height: 380px !important;
  }
}

@media (max-width: 980px) {
  .results-rating {
    font-size: 0.6em;
  }

  .results-your-measurements-label {
    font-size: 1.2em;
  }

  .results-review {
    font-size: 0.75em;
  }

  .results-review-text {
    font-size: 0.75em;
  }

  .results-input {
    font-size: 1.3em;
  }

  .results-brand {
    font-size: 0.85em;
  }

  .results-color {
    font-size: 0.8em;
    margin: 2px 0px;
  }

  .results-measurement-label {
    font-size: 1.75em;
  }

  .results-measurement {
    font-size: 1.75em;
  }

  .results-your-measurements {
    font-size: 1em;
  }

  .results-text-large {
    font-size: 1em;
  }

  .results-rightCol {
    width: 260px;
  }

  .results-leftCol {
    width: calc(100% - 260px);
  }

  .results-match {
    font-size: 1.25em;
  }
}

@media (max-width: 900px) {
  .results-img {
    width: 210px !important;
    height: 350px !important;
  }

  .results-brand {
    font-size: 0.8em;
  }
}

@media (max-width: 815px) {
  .results-text {
    font-size: 0.8em;
  }
  .results-img {
    width: 150px !important;
    height: 230px !important;
  }

  .results-item-div {
    padding: 0px 10px 30px 0px;
  }
}

@media (max-width: 720px) {
  .results-input {
    font-size: 1.1em;
  }
  .results-your-measurements {
    font-size: 0.85em;
  }
  .results-edit {
    font-size: 0.85em;
  }

  .results-rightCol {
    width: 210px;
  }

  .results-leftCol {
    width: calc(100% - 210px);
  }
}

/* WRAP FOR MOBILE */

@media (max-width: 650px) {
  .results-col {
    width: fit-content;
  }

  .results-your-measurements-label {
    display: none;
  }

  .results-container-outer {
    padding-top: 50px;
  }

  .results-getReview-wrapper {
    position: relative;
  }

  .results-heart-fill {
    top: 15px;
  }

  .results-heart-outline {
    top: 15px;
  }

  .results-container-inner {
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 30px;
  }

  .results-loadMore-btn-div {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .results-leftCol {
    flex-basis: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
  }

  .results-rightCol {
    background-color: black;
  }

  .results-rightCol-inner {
    background-color: white;
  }

  .results-brand {
    font-size: 0.75em;
    margin-bottom: 1px;
  }

  .results-measurements-wrapper {
    text-align: right;
  }

  .results-measurement-label {
    font-size: 1.5em;
  }

  .results-your-measurements {
    font-size: 0.85em;
    color: white;
    text-align: center;
  }

  .results-edit {
    text-align: center;
    color: white;
  }

  .results-leftCol-adjust {
    height: calc(100% - 150px);
  }

  .results-match {
    display: none;
  }

  .results-rightCol {
    transition: all 1s ease-in-out;
    width: 100vw;
    height: 100px;
    bottom: 0px;
    left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 3000;
    position: fixed;
  }

  .results-rightCol-inner {
    position: initial;
  }

  .results-input {
    display: none;
  }

  .results-rightCol-adjust {
    height: 170px;
  }

  .results-recommended-div {
    display: none;
  }

  .results-menu-hide-div {
    transition: all 1s ease-in-out;
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }

  .results-menu-show-div-hidden {
    transition: all 1s ease-in-out;
    display: none;
  }

  .results-menu-show-div {
    transition: all 1s ease-in-out;
    width: 100%;
    position: fixed;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    display: block;
  }
}

@media (max-width: 450px) {
  .results-img {
    width: 130px !important;
    height: 200px !important;
  }

  .results-rating {
    font-size: 0.65em;
  }

  .results-brand {
    font-size: 0.75em;
    margin-bottom: 0px;
  }

  .results-color {
    font-size: 0.85em;
    margin-top: 0px;
  }
}

@media (max-width: 400px) {
  .results-leftCol-inner {
    padding-top: 10px;
  }

  .results-your-measurements {
    font-size: 0.9em;
  }

  .results-edit {
    font-size: 0.9em;
  }

  .results-img {
    width: 100px !important;
    height: 170px !important;
  }

  .results-item-div {
    padding-right: 5px;
  }

  .results-rating {
    font-size: 0.5em;
  }
}

@media (max-width: 366px) {
  .results-rightCol-adjust {
    height: 170px;
  }

  .results-leftCol-adjust {
    height: calc(100% - 170px);
  }
}

@media (max-width: 333px) {
  .results-rightCol-inner {
    width: 80%;
  }
}
