.results-container-outer {
  width: 100vw;
  display: flex;
  padding-bottom: 50px;
  position: relative;
  scroll-behavior: smooth;
}

.results-leftCol {
  padding-bottom: 25px;
  width: 60%;
  height: calc(100% - 100px);
  position: relative;
}

.results-leftCol-fakeNav {
  width: 60%;
  height: 50px;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.results-leftCol-inner {
  height: 90%;
  width: 100%;
  padding-top: 100px;
  align-items: center;
  position: relative;
}

.hide {
  display: none;
}

.results-menu-hide-arrow {
  width: 15px;
}

.results-menu-hide-div {
  display: none;
  text-align: center;
}

input:focus {
  outline: none;
}

.results-rightCol {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 40%;
  height: calc(100vh - 100px);
  background-color: #ffd2ba;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0;
}

.results-rightCol-inner {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.results-text-div {
  min-width: 100px;
  max-width: 300px;
  margin-top: 130px;
}

.results-your-measurements-wrapper {
}

.results-your-measurements {
  color: white;
  font-size: 1.5em;
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
}

.results-your-measurements:hover {
  text-decoration: underline;
}

.results-input {
  border: none;
  text-align: left;
  font-family: 'DM Serif Display', serif;
  color: white;
  font-size: 2em;
  background-color: unset;
  text-transform: capitalize;
  width: 100%;
}

.results-name-div {
}

.results-match {
  color: white;
  font-family: 'Helvetiva Neue', sans-serif;
  font-size: 1.5em;
  font-weight: bold;
}

.results-input::placeholder {
  color: white;
  text-align: left;
  opacity: 0.75;
  font-family: 'DM Serif Display', serif;
}

.results-loadMore-wrapper {
  width: 250px;
}

.results-loadMore-btn {
  background-color: #ffd2ba;
  border-radius: 50px;
  color: black;
  font-size: 1em;
  font-weight: bold;
  padding: 12px 20px;
  width: 20px;
  border: none;
  font-family: 'Helvetiva Neue', sans-serif;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.4s ease;
}

.results-loadMore-btn:hover {
  width: 250px;
}

.results-loadMore-btn-div {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.results-grid {
  display: flex;
  flex-wrap: wrap;
  /* min-height: calc(100vh - 250px); */
  padding-left: 15px;
  padding-right: 15px;
  justify-content: space-evenly;
  /* margin-bottom: 300px; */
}

.results-margin-top {
  margin-top: 30px;
}

.results-col {
  /* width: 32%; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.results-heart-fill {
  width: 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px;
  z-index: 10;
  background-image: url('../../assets/images/heart_icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease;
}

.results-heart-outline {
  width: 15px;
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 15px;
  z-index: 10;
  background-image: url('../../assets/images/heart_outline.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: all 0.4s ease;
}

.results-item-div {
  position: relative;
  text-align: center;
  height: 100%;
  width: 100%;
}

.results-text {
  font-weight: bold;
  color: black;
  font-family: 'Helvetiva Neue', sans-serif;
  text-align: left;
}

.results-measurement-wrapper {
  display: flex;
  justify-content: space-between;
}

.results-recommended-wrapper {
  max-width: 450px;
}

.results-measurement-label {
  color: white;
  font-family: 'DM Serif Display', serif;
  font-size: 2em;
  display: inline-block;
  margin: 0;
}

.results-measurement {
  color: white;
  font-family: 'Helvetiva Neue', sans-serif;
  font-size: 2em;
  font-weight: bold;
  display: inline-block;
  margin: 0;
}

.results-item-div-multiple {
  padding-top: 20px;
  padding-bottom: 20px;
}

.results-price {
  bottom: 0;
  left: 0;
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1.25em;
  margin-top: 0;
}

.results-rating {
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  margin-top: 40px;
}

.results-img {
  width: 350px !important;
  height: 500px !important;
  object-fit: cover;
  transition: all 0.2s ease-in-out;
}

.results-img:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
}

.results-menu-show-div {
  display: none;
}

.bold {
  font-weight: bolder;
}

@media (max-height: 815px) {
  .results-img {
    width: 260px !important;
    height: 400px !important;
  }
}

@media (max-height: 785px) {
  .results-loadMore-btn-div {
    margin-top: 0px;
  }
}

@media (max-height: 760px) {
  .results-img-single {
    max-height: 520px;
  }

  .results-title-div {
    margin-bottom: 11vh;
  }
}

@media (max-height: 730px) {
  .results-img-single {
    max-height: 500px;
  }
}

@media (max-height: 705px) {
  .results-img-single {
    max-height: 470px;
  }

  .results-title-div {
    margin-top: 11vh;
  }
}

@media (max-height: 670px) {
  .results-img-single {
    max-height: 450px;
  }
}

@media (max-width: 1322px) {
  .results-img {
    width: 320px !important;
    height: 480px !important;
  }
}

@media (max-width: 1313px) {
  .results-title {
    font-size: 2.5em;
  }
}

@media (max-width: 1215px) {
  .results-title {
    font-size: 2.3em;
  }
}

@media (max-width: 1210px) {
  .results-img {
    width: 300px !important;
    height: 460px !important;
  }
}

@media (max-width: 1123px) {
  .results-img {
    width: 260px !important;
    height: 400px !important;
  }
}

@media (max-width: 1015px) {
  .results-img {
    width: 240px !important;
    height: 380px !important;
  }
}

@media (max-width: 980px) {
  .results-text {
    font-size: 0.9em;
  }

  .results-rating {
    font-size: 0.9em;
  }

  .results-input {
    font-size: 1.75em;
  }

  .results-measurement-label {
    font-size: 1.75em;
  }

  .results-measurement {
    font-size: 1.75em;
  }

  .results-your-measurements {
    font-size: 1.5em;
  }

  .results-match {
    font-size: 1.25em;
  }
}

@media (max-width: 900px) {
  .results-img {
    width: 210px !important;
    height: 350px !important;
  }
}

@media (max-width: 805px) {
  .results-title {
    font-size: 2.1em;
  }

  .results-text {
    font-size: 0.8em;
  }

  .results-your-measurements {
    font-size: 1.25em;
  }
}

@media (max-width: 770px) {
  .results-img {
    width: 230px !important;
    height: 370px !important;
  }

  .results-rightCol {
    width: 45%;
  }

  .results-leftCol {
    width: 55%;
  }

  .results-leftCol-fakeNav {
    width: 55%;
  }
}

/* WRAP FOR MOBILE */

@media (max-width: 540px) {
  .results-leftCol-fakeNav {
    width: 100%;
  }

  .results-leftCol-inner {
    padding-top: 50px;
  }

  .results-container-outer {
    flex-wrap: wrap;
    padding-bottom: 40px;
    padding-top: 50px;
  }

  .results-loadMore-btn-div {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  .results-leftCol {
    flex-basis: 100%;
    height: calc(100% - 120px);
    overflow-y: scroll;
  }

  .results-your-measurements-wrapper {
    margin-top: 0px;
  }

  .results-measurement-label {
    font-size: 1.5em;
  }

  .results-measurement {
    font-size: 1.5em;
  }

  .results-your-measurements {
    font-size: 1.15em;
  }

  .results-leftCol-adjust {
    height: calc(100% - 150px);
  }

  .results-match {
    display: none;
  }

  .results-rightCol {
    transition: all 1s ease-in-out;
    width: 100%;
    height: 50%;
    bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    z-index: 3000;
    min-height: 350px;
    max-height: 430px;
  }

  .results-rightCol-inner {
    justify-content: space-evenly;
  }

  .results-rightCol-adjust {
    height: 170px;
  }

  .results-recommended-wrapper {
    margin-top: 0px;
  }

  .results-name-div {
    display: none;
  }

  .results-img-single {
    max-height: 480px;
    height: calc(75vh - 120px);
    width: auto;
  }

  .results-menu-hide-div {
    transition: all 1s ease-in-out;
    width: 100%;
    display: block;
    margin-bottom: 2vh;
  }

  .results-menu-show-div-hidden {
    transition: all 1s ease-in-out;
    display: none;
  }

  .results-menu-show-div {
    transition: all 1s ease-in-out;
    width: 100%;
    position: fixed;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    display: block;
  }
}

@media (max-width: 400px) {
  .results-grid {
    display: block;
  }

  .results-leftCol-inner {
    padding-top: 10px;
  }
}

@media (max-width: 366px) {
  .results-rightCol-adjust {
    height: 170px;
  }

  .results-leftCol-adjust {
    height: calc(100% - 170px);
  }
}

@media (max-width: 333px) {
  .results-rightCol-inner {
    width: 80%;
  }
}
