.shop {
  height: calc(100vh - 100px);
  margin-top: 50px;
  margin-bottom: 50px;
}

.shop-inner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 50px 15px;
  justify-content: space-evenly;
}

.shop-item-div {
  position: relative;
  padding-bottom: 50px;
  max-width: 350px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}

.shop-brand {
  font-family: 'Arial Narrow', sans-serif;
  color: black;
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 1.1em;
}

.shop-img {
  width: 310px !important;
  height: 420px !important;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  cursor: pointer;
}

.shop-item-info {
  width: 310px;
  text-align: left;
}

.shop-color {
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 0.9em;
}

@media (max-width: 1520px) {
  .shop-img {
    width: 260px !important;
    height: 370px !important;
  }

  .shop-item-info {
    width: 260px;
  }
}

@media (max-width: 1320px) {
  .shop-img {
    width: 230px !important;
    height: 340px !important;
  }

  .shop-item-info {
    width: 230px;
  }
}

@media (max-width: 1200px) {
  .shop-img {
    width: 200px !important;
    height: 310px !important;
  }

  .shop-item-info {
    width: 200px;
  }
}

@media (max-width: 820px) {
  .shop-img {
    width: 170px !important;
    height: 280px !important;
  }

  .shop-item-info {
    width: 170px;
  }

  .shop-item-div {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 40px;
  }
}

@media (max-width: 740px) {
  .shop-img {
    width: 150px !important;
    height: 260px !important;
  }

  .shop-brand {
    font-size: 0.8em;
  }

  .shop-color {
    margin-top: 2px;
    font-size: 0.75em;
  }

  .shop-item-info {
    width: 150px;
  }

  .shop-item-div {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 410px) {
  .shop-img {
    width: 120px !important;
    height: 230px !important;
  }

  .shop-item-info {
    width: 120px;
  }

  .shop-item-div {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }
}

@media (max-width: 380px) {
  .shop-img {
    width: 100px !important;
    height: 210px !important;
  }

  .shop-item-info {
    width: 100px;
  }

  .shop-item-div {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
  }
}
