@font-face {
    font-family: 'Albertus';
    font-style: normal;
    font-weight: 400;
    src:
      local('Albertus-Medium'),
      local('Roboto-Regular'),
      url(../../assets/fonts/Albertus/Albertus-Medium.ttf) format('ttf'),
      url(../../assets/fonts/Albertus/Albertus-Regular.ttf) format('ttf');
  }


.signin-background {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(../../assets//images/landing-bkg.png);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.signin-box {
    width: 80%;
    height: 60%;
    max-width: 723px;
    margin: auto;
    background-color:#FBA8B8;
}

.signin-title {
    color: white;
    font-family: 'Albertus', sans-serif;
    width: 100%;
    font-size: 2.5em;
}

.signin-label {
    font-family: 'Albertus', sans-serif;
    color: white;
    font-size: 1.5em;
}

.signin-text-input {
    width: 120px;
    height: 20px;
    font-family: 'Albertus', sans-serif;
    border: none;
    background-color: #FBA8B8;
    border-bottom: 2px white;
}

.signin-text-input::placeholder {
    width: 120px;
    height: 20px;
    font-family: 'Albertus', sans-serif;
    border: none;
    background-color: #FBA8B8;
}


@media (max-width: 630px) {
    .signin-box {
        width: 80%;
    }
}


@media (max-width: 475px) {
    .signin-box {
        width: 100%;
    }
}


.signin-input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Albertus', sans-serif;
    text-align: center;
    width: 70px;
    font-size: 1.5em;
}


.signin-submit-btn {
    width: 40%;
    color: black;
    padding: 14px 20px;
    margin: 18px 0;
    border: 1px solid black;
    font-family: 'Raleway', sans-serif;
}

.signin-submit-btn:hover {
    color: white;
    background-color: black;
}



@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.signin-form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.signin-form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.signin-form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FBA8B8;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.signin-form button:hover,.form button:active,.form button:focus {
  background: #FA8199;
}
.signin-form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.signin-form .message a {
  color: #FA8199;
  text-decoration: none;
}
.signin-form .forgot {
    color: #7f7f7f;
    display: inline-block;
    float: right;
    font: 12px/1 sans-serif;
    left: -19px;
    position: relative;
    text-decoration: none;
    top: 5px;
    transition: color .4s;
    margin: 0px 2px 25px 2px;
}
.signin-form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}