@import url(https://fonts.googleapis.com/css?family=HelvetivaNeue:300);

.signin-page {
  background-color: #69dbd3;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signin-btn {
  background-color: white;
  color: black;
  border-radius: 50px;
  font-size: 1.25em;
  margin-bottom: 20px;
  border: none;
  padding: 16px 30px;
  font-weight: bold;
  font-family: 'Helvetiva Neue', sans-serif;
  cursor: pointer;
  transition: all 0.4s ease;
}

.signin-btn:hover {
  background-color: black;
  color: white;
}

.signin-btn-disabled {
  background-color: white;
  color: gray;
  font-size: 1.25em;
  margin-bottom: 20px;
  border: none;
  padding: 16px 30px;
  border-radius: 50px;
  font-weight: bold;
  font-family: 'Helvetiva Neue', sans-serif;
}

.signin-form input {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  color: white;
  font-weight: bold;
  font-family: 'Helvetiva Neue', sans-serif;
  text-align: left;
  height: 50px;
  font-size: 1.75em;
  width: 450px;
}

.signin-form-div {
  margin-top: 40px;
}

input::placeholder {
  font-size: 1.25em;
  color: white;
  opacity: 0.8;
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
}

.signin-form .message {
  color: black;
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.signin-form .pforgot {
  color: white;
  display: inline-block;
  float: right;
  font-family: 'Helvetiva Neue', sans-serif;
  font: 1em sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 25px;
  transition: all 0.4s ease;
  margin: 0px 2px 25px 2px;
}

.signin-form .pforgot:hover {
  text-decoration: underline;
}

@media (max-width: 795px) {
  .signin-form input {
    width: 400px;
    font-size: 1.5em;
  }

  .signin-form input::placeholder {
    font-size: 1.4em;
  }
}

@media (max-width: 625px) {
  .signin-form input {
    width: 350px;
    font-size: 1.25em;
    height: 40px;
  }

  .signin-form input::placeholder {
    font-size: 1.25em;
  }
}

@media (max-width: 482px) {
  .signin-form input {
    width: 280px;
    font-size: 1.15em;
    height: 30px;
  }

  .signin-form input::placeholder {
    font-size: 1.15em;
  }

  .signin-btn {
    font-size: 1.15em;
  }

  .signin-btn-disabled {
    font-size: 1.15em;
  }
  .signin-form .message {
    font-size: 0.9em;
  }
}
