.pforgot {
  color: #7f7f7f;
  display: inline-block;
  float: right;
  font: 12px/1 sans-serif;
  left: -19px;
  position: relative;
  text-decoration: none;
  top: 5px;
  transition: color 0.4s;
  margin: 0px 2px 25px 2px;
}

.pforgot-background {
  width: 100%;
  height: 100vh;
  margin: auto;
  background-color: #ffd2ba;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pforgot-btn {
  background-color: black;
  color: white;
  padding: 16px 20px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  border-radius: 50px;
  border: none;
  font-size: 1.25em;
  display: block;
  margin-top: 30px;
}
