.pforgot{
    color: #7f7f7f;
    display: inline-block;
    float: right;
    font: 12px/1 sans-serif;
    left: -19px;
    position: relative;
    text-decoration: none;
    top: 5px;
    transition: color .4s;
    margin: 0px 2px 25px 2px;
}

.pforgot-background {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url(../../assets//images/landing-bkg.jpg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}