@font-face {
    font-family: 'Albertus';
    font-style: normal;
    font-weight: 400;
    src:
      local('Albertus-Medium'),
      local('Roboto-Regular'),
      url(../../assets/fonts/Albertus/Albertus-Medium.ttf) format('ttf'),
      url(../../assets/fonts/Albertus/Albertus-Regular.ttf) format('ttf');
  }
  

.landing-parent {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
}

.landing-child {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing-container-intro {
    background-image: url(../../assets//images/landing-bkg.jpeg);
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

}

.landing-container-first {
    background: linear-gradient(#FA8199, #FBA8B8)
}

.landing-container-second {
    background: linear-gradient(#FBA8B8, #FCC6D0)
}

.landing-container-third {
    background: linear-gradient(#FCC6D0, #FEE7EC)
}

.landing-container-fourth {
    background: linear-gradient(#FEE7EC, #FFF7F9);
    display: flex;
    flex-direction: column;
    
}

.landing-input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-family: 'Albertus', sans-serif;
    text-align: center;
    width: 70px;
    font-size: 1.5em;
}

.landing-input-email {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    color: gray;
    font-family: 'Albertus', sans-serif;
    text-align: left;
    width: 270px;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.landing-input:focus {
    outline:none;
}

.landing-search {

}

.landing-search-content {
}

.landing-search-label {
    font-family: 'Albertus', sans-serif;
    color: white;
    font-size: 1.5em;
}

.landing-title {
    font-family: 'Albertus', sans-serif;
    color: white;
    font-size: 2.5em;
}

.landing-desc {
    font-family: 'Albertus', sans-serif;
    color: white;
    font-size: 1.5em;
}

.landing-size-buttons {
    background: none;
    border: none;
    font-family: 'Albertus', sans-serif;
    color: white;
    font-size: 1.0em;
    margin-top: 15px;
    text-align: left;
}

.landing-size-buttons:focus {
    outline: none;
    color: pink;
}

.landing-size-buttons:active {
    color: fuchsia;
}

.landing-results-btn {
    background: none;
    border: 2px solid coral;
    color: coral;
    font-size: 2em;
    position: absolute;
    bottom: 100px;
    right: 100px;
    font-family: 'Albertus', sans-serif;
}