.landing-parent {
  padding-top: 50px;
}

.landing-fakeNav {
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 101;
}

/* .landing-popup-text {
  text-decoration: none;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.landing-popup-text:hover {
  color: white;
  text-decoration: underline;
}

.landing-notif {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* PAGE 1 */

.landing-title-container {
  height: calc(100vh - 50px);
  position: relative;
}

.landing-intro-img {
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: url(https://fittoform-landing.s3.amazonaws.com/lp_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  top: 0px;
  left: 0px;
  z-index: -100;
}

.landing-content {
  width: 50%;
  margin-left: 50%;
  padding-top: 30%;
}

.landing-title {
  font-family: 'DM Serif Display', serif;
  color: black;
  font-size: 2.5em;
}

.landing-callToAction-wrapper {
  width: 100%;
  text-align: left;
  margin-top: 5vh;
  margin-bottom: 0px;
}

.landing-callToAction {
  border-radius: 50%;
  background-color: #ffd2ba;
  min-height: 50px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.45em;
  line-height: 1.5em;
  color: black;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4 ease;
  transition: all 0.4s ease;
  padding: 60px 20px;
}

.landing-btn-flexWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-callToAction:hover {
  background-color: #69dbd3;
}

/* --------------------------------- */

/* PAGE 2 */

.landing-howitworks-firstRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.landing-howitworks-content {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-howitworks-img1 {
  flex-basis: 40%;
  background-image: url(https://fittoform-landing.s3.amazonaws.com/lp_1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.landing-2-title {
  margin-bottom: 30px;
  margin-top: 0px;
}

.landing-howitworks-secondRow {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-2-col-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: nowrap;
}

.landing-2-leftCol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.landing-2-rightCol {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  min-width: 300px;
}

.landing-howitworks-box {
  margin-top: 25px;
}

.landing-howitworks-box-1 {
  margin-top: 0px;
}

.landing-howitworks-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing-howitworks-title {
  color: black;
  font-weight: bold;
  font-size: 1.35em;
  margin: 0px;
  font-family: 'Helvetiva Neue', sans-serif;
}

.landing-desc {
  color: black;
  font-weight: bolder;
  font-size: 1.25em;
  line-height: 1.15em;
  margin-top: 0px;
  font-family: 'Helvetiva Neue', sans-serif;
}

.landing-howitworks-desc {
  color: black;
  font-weight: bolder;
  font-size: 1.05em;
  line-height: 1.15em;
  font-family: 'Helvetiva Neue', sans-serif;
}

/* ------------------------------------------------- */
/* INSTAGRAM */

.landing-instagram-container {
  padding-top: 160px;
  padding-bottom: 30px;
}

.landing-instagram-title {
  font-family: 'DM Serif Display', serif;
  /* font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold; */
  font-size: 1.75em;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.landing-instagram-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
