.landing-parent {
  padding-top: 50px;
}

.landing-fakeNav {
  height: 50px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 101;
}

/* .landing-popup-text {
  text-decoration: none;
  transition: all 0.4s ease;
  white-space: nowrap;
}

.landing-popup-text:hover {
  color: white;
  text-decoration: underline;
}

.landing-notif {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* PAGE 1 */

.landing-title-container {
  height: calc(100vh - 50px);
  position: relative;
}

.landing-intro-img {
  position: absolute;
  width: 70%;
  height: 100%;
  background-image: url(https://fittoform-landing.s3.amazonaws.com/landing_image_1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  top: 0px;
  left: 0px;
  z-index: -100;
}

.landing-content {
  width: 45%;
  margin-left: 45%;
  padding-top: 200px;
}

.landing-title {
  font-family: 'DM Serif Display', serif;
  color: black;
  font-size: 3.8em;
  line-height: 68px;
  margin-bottom: 0px;
}

.landing-subtitle {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  margin-top: 20px;
}

.landing-callToAction-wrapper {
  text-align: left;
  margin-top: 5vh;
  margin-left: calc(70% - 77px);
  margin-bottom: 0px;
}

.landing-callToAction {
  border-radius: 50%;
  background-color: #ffd2ba;
  min-height: 50px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.45em;
  line-height: 1.5em;
  color: black;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.4 ease;
  transition: all 0.4s ease;
  padding: 60px 20px;
}

.landing-btn-flexWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-callToAction:hover {
  background-color: #69dbd3;
}

/* --------------------------------- */

/* PAGE 2 */

.landing-howitworks-firstRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-top: 30px;
}

.landing-howitworks-content {
  flex-basis: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-howitworks-img1 {
  flex-basis: 40%;
  background-image: url(https://fittoform-landing.s3.amazonaws.com/landing_image_2.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.landing-2-title {
  margin-bottom: 30px;
  margin-top: 0px;
}

.landing-howitworks-secondRow {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-2-col-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex-wrap: nowrap;
}

.landing-2-leftCol {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.landing-2-rightCol {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  min-width: 300px;
}

.landing-howitworks-box {
  margin-top: 10px;
}

.landing-howitworks-box-1 {
  margin-top: 0px;
}

.landing-howitworks-steps {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.landing-howitworks-title {
  color: black;
  font-weight: bold;
  font-size: 1.35em;
  margin: 0px;
  font-family: 'Helvetiva Neue', sans-serif;
}

.landing-desc {
  color: black;
  font-weight: bolder;
  font-size: 1.25em;
  line-height: 1.15em;
  margin-top: 0px;
  font-family: 'Helvetiva Neue', sans-serif;
}

.landing-howitworks-desc {
  color: black;
  font-weight: bolder;
  font-size: 1.05em;
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.15em;
  font-family: 'Helvetiva Neue', sans-serif;
}

/* ------------------------------------------------- */
/* INSTAGRAM */

.landing-instagram-container {
  margin-top: 160px;
  margin-bottom: 120px;
}

.landing-instagram-title {
  font-family: 'DM Serif Display', serif;
  /* font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold; */
  font-size: 1.75em;
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

.landing-instagram-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-insta-img {
  width: 25%;
  min-width: 200px;
  cursor: pointer;
}

.landing-instagram-posts {
  max-width: 1300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.landing-shopnow {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: #69dbd3;
  font-size: 1.2em;
}

.landing-shopnow:hover {
  text-decoration: underline;
}

.landing-howitworks-img2 {
  width: 60%;
  height: 45vh;
  object-fit: cover;
}

@media (min-width: 1559px) {
  .landing-subtitle {
    font-size: 2em;
  }
}

@media (max-width: 1170px) {
  .landing-2-col-container {
    width: 70%;
  }
}

@media (max-width: 1125px) {
  .landing-title {
    font-size: 3.3em;
  }
}

@media (max-width: 976px) {
  .landing-title {
    font-size: 3em;
    line-height: 55px;
  }

  .landing-subtitle {
    font-size: 1.5em;
  }

  .landing-howitworks-desc {
    font-size: 1em;
  }
}

@media (max-width: 890px) {
  .landing-title {
    font-size: 2.5em;
    line-height: 45px;
  }
}

@media (max-width: 800px) {
  .landing-instagram-posts {
    flex-wrap: wrap;
  }

  .landing-insta-img {
    width: 40%;
  }
}

/* MOBILE WRAP */
@media (max-width: 745px) {
  .landing-intro-img {
    width: 100%;
    height: 300px;
  }

  .landing-content {
    padding-top: 300px;
    width: 55%;
    margin-left: 15%;
  }

  .landing-callToAction-wrapper {
    margin-left: 15%;
    margin-top: 30px;
  }

  */ .landing-title {
    font-size: 2.5em;
    line-height: 45px;
  }

  .landing-subtitle {
    font-size: 1.35em;
  }

  .landing-callToAction {
    font-size: 1.35em;
    padding: 50px 13px;
  }
  .landing-howitworks-img1 {
    flex-basis: 20%;
  }

  .landing-howitworks-content {
    flex-basis: 80%;
  }
}

@media (max-width: 610px) {
  .landing-title {
    font-size: 2.3em;
  }

  .landing-subtitle {
    font-size: 1.25em;
  }
}

@media (max-width: 560px) {
  .landing-content {
    width: 70%;
  }
}

@media (max-width: 460px) {
  .landing-howitworks-img1 {
    display: none;
  }

  .landing-howitworks-firstRow {
    padding-top: 50px;
  }

  .landing-howitworks-content {
    flex-basis: 90%;
  }

  .landing-howitworks-firstRow {
    margin-bottom: 50px;
  }

  .landing-title {
    font-size: 1.8em;
    line-height: 35px;
  }

  .landing-subtitle {
    font-size: 1.15em;
  }

  .landing-callToAction {
    padding: 50px 19px;
    font-size: 1.15em;
  }
}

@media (max-height: 680px) {
  .landing-intro-img {
    height: 250px;
  }

  .landing-content {
    padding-top: 250px;
  }
}

@media (max-height: 630px) {
  .landing-intro-img {
    height: 200px;
  }

  .landing-content {
    padding-top: 200px;
  }
}

@media (max-width: 400px) {
  .landing-content {
    width: 80%;
    margin-left: 10%;
  }
}

@media (max-width: 375px) {
  .landing-desc {
    font-size: 1em;
  }

  .landing-howitworks-desc {
    font-size: 0.85em;
  }
}
