.promo {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.promo-inner {
  height: calc(100vh - 100px);
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.promo-content {
  max-width: 900px;
  width: 80%;
  background-color: #ffd2ba;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.promo-info-wrapper {
  flex-basis: 50%;
  padding-right: 45px;
  padding: 50px 15px 50px 50px;
}

.promo-img-wrapper {
  flex-basis: 50%;
  height: 650px;
  background-image: url(https://fittoform-landing.s3.amazonaws.com/landing_image_3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.promo-title {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  margin-top: 0px;
  margin-bottom: 15px;
}

.promo-subtitle {
  font-family: 'Arial Narrow', serif;
  font-size: 1.9em;
  margin: 0px 0px;
}

.promo-box {
  margin: 20px 0px;
}

.underline {
  text-decoration: underline;
}

.promo-text {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  margin-bottom: 10px;
}

.promo-brands {
  font-size: 1.05em;
}

.promo-tc {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 0.8em;
  margin: 3px 0px;
}

.promo-img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.promo-form-div {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.promo-btn {
  border-radius: 50px;
  background-color: white;
  color: black;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.15em;
  border: none;
  padding: 12px 30px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 0px 30px;
}

.promo-btn:hover {
  background-color: black;
  color: white;
}

@media (max-width: 980px) {
  .promo-text {
    font-size: 1.1em;
  }

  .promo-brands {
    font-size: 1em;
  }

  .promo-title {
    font-size: 1em;
  }

  .promo-subtitle {
    font-size: 1.7em;
  }

  .promo-box {
    margin: 15px 0px;
  }
}

/* MOBILE */
@media (max-width: 900px) {
  .promo-content {
    flex-wrap: wrap-reverse;
    max-width: 520px;
  }

  .promo-img-wrapper {
    flex-basis: 100%;
    height: 250px;
  }

  .promo-info-wrapper {
    flex-basis: 100%;
    padding: 0px;
    padding: 25px 35px 35px 35px;
  }

  .promo-subtitle {
    display: inline-block;
    font-size: 1.75em;
  }

  .promo-box {
    margin: 12px 0px;
  }

  .promo-btn {
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

@media (max-width: 540px) {
  .promo-subtitle {
    display: block;
    font-size: 1.5em;
  }

  .promo-img-wrapper {
    height: 150px;
  }

  .promo-inner {
    height: calc(100% - 100px);
    padding-bottom: 0px;
  }

  .promo-title {
    font-size: 0.9em;
  }

  .promo-btn {
    font-size: 1em;
  }

  .promo-text {
    font-size: 0.9em;
  }

  .promo-brands {
    font-size: 0.8em;
  }

  .promo-tc {
    font-size: 0.55em;
  }
}

@media (max-width: 470px) {
  .promo-info-wrapper {
    flex-basis: 100%;
    padding: 0px;
    padding: 15px 25px 25px 25px;
  }
}

@media (max-width: 440px) {
  .promo-info-wrapper {
    padding: 15px;
  }
  .promo-subtitle {
    font-size: 1.3em;
  }

  .promo-text {
    font-size: 0.8em;
  }

  .promo-brands {
    font-size: 0.7em;
  }

  .promo-btn {
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 15px;
  }
}

@media (max-width: 350px) {
  .promo-img-wrapper {
    height: 100px;
  }
  .promo-title {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  .promo-subtitle {
    font-size: 1.2em;
  }
}
