.signout-btn {
    font-family: 'Raleway', sans-serif;
    background-color: unset;
    color: white;
    border: none;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;;
    font-size: 1em;
}

.signout-btn:hover {
    font-weight: bold;
}