.account-outer {
  height: calc(100vh - 100px);
  padding-top: 50px;
  padding-bottom: 50px;
}

.account-inner {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.account-back {
  text-decoration: none;
  transition: all 0.4s ease;
}

.account-review-button {
  background-color: #69dbd3;
  color: white;
  border: none;
  padding: 12px 30px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1em;
  border-radius: 50px;
  cursor: pointer;
}

.account-back:hover {
  text-decoration: underline;
}

.account-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.account-title {
  margin-top: 50px;
  font-family: 'Arial Narrow', serif;
  font-size: 2em;
  color: black;
}

.account-section-title {
  font-family: 'Helvetica Neue', serif;
  font-weight: bolder;
  color: black;
}

.account-select option {
  width: min-content;
}

.account-section-wrapper {
  flex-basis: 80%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.account-wrapper-item {
  text-align: center;
  width: 125px;
  padding: 2px 20px 2px 0px;
  margin: 15px 0px 10px;
}

.account-item-label {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 1em;
}

select::-ms-expand {
  display: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 30px 2px 2px;
  /*border: none; - if you want the border removed*/
}

.account-section-wrapper-2 {
  justify-content: flex-end;
}

.account-select {
  background-color: black;
  color: white;
  margin-bottom: 15px;
  border: none;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding: 50px 35px;
  border-radius: 50%;
  text-align: center;
  border-radius: none;
  text-align-last: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

.account-select-sm {
  padding: 50px 49px;
}

.account-select:hover {
  background-color: #ffd2ba;
}

.account-select:focus {
  outline: none;
}

.account-hr {
  border-top: 1px solid #ededed !important;
}

.account-section-title-wrapper {
  flex-basis: 20%;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.account-text {
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1em;
}

.account-account-section {
  display: flex;
  flex-direction: column;
}

.account-links {
  display: block;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-decoration: underline;
  font-size: 0.8em;
  color: black;
  cursor: pointer;
}

.account-links:hover {
  font-weight: bolder;
  font-family: 'Helvetiva Neue', sans-serif;
}

.account-save-btn {
  background-color: #ffd2ba;
  width: 15px;
  border-radius: 50px;
  padding: 0px 20px;
  font-size: 1.2em;
  border: none;
  font-family: 'Helvetiva Neue', sans-serif;
  font-weight: bolder;
  cursor: pointer;
  color: black;
  min-height: 40px;
  transition: all 0.4s ease;
  outline: none;
}

.account-save-btn:hover {
  width: 180px;
}

.account-saved-text {
  color: #ffd2ba;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Helvetiva Neue', sans-serif;
}

.account-droparrow {
  margin: auto;
  display: block;
  margin-top: 5px;
  width: 10px;
}

.account-section-title-wrapper-2 {
  flex-direction: column;
}

.account-row-2 {
  max-width: 1136px;
}

@media (max-width: 1312px) {
  .account-row-top {
    flex-wrap: wrap;
  }

  .account-row-2 {
    margin-top: 20px;
    width: 870px;
  }

  .account-title-wrapper-top {
    flex-basis: 100%;
  }

  .account-section-wrapper-top {
    flex-basis: 100%;
  }
}

@media (max-width: 1013px) {
  .account-inner {
    width: 90%;
  }
}

@media (max-width: 940px) {
  .account-section-wrapper-top {
    flex-wrap: wrap;
  }

  .account-row-2 {
    width: 90%;
  }

  .account-section-title-wrapper-2 {
    flex-basis: 50%;
  }

  .account-section-wrapper-2 {
    flex-basis: 50%;
  }
}

@media (max-width: 540px) {
  .account-inner {
    height: unset;
  }
}

@media (max-width: 485px) {
  .account-row-2 {
    flex-wrap: wrap;
  }

  .account-section-wrapper-2 {
    justify-content: flex-start;
    margin-top: 30px;
  }
}
