.itemView {
    height: calc(100vh - 50px);
    width: 100vw;
    margin-top: 50px;
    overflow-y: auto;
}

.itemView-c1 {
    height: calc(100% - 50px);
}

.itemView-c1-inner {
    display: flex;
    margin: 0 auto;
    position: relative;
    height: 100%;
}

.itemView-c1-left {
    flex: 0 0 60%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

.itemView-c1-text {
    width: 80%;
}

.itemView-c1-right {
    flex: 0 0 40%;
    background-color: #E4E4E4;
    background-image: url(../../assets/images/item-stripe.png);
    background-position: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemView-titleBtn-div {
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.itemView-item-title {
    font-family: 'Futura', serif;
    font-size: 2.5em;
    text-transform: capitalize;
    color: #652D2D;
    margin: 0;
}

.itemView-item-brand {
    font-size: 1.25em;
    color: #652D2D;
    margin-top: 12px;
    margin-bottom: 12px;
    text-transform: capitalize;
    font-family: 'Futura', sans-serif;
}

.itemView-item-price {
    font-size: 1.25em;
    color: #652D2D;
    margin-top: 30px;
    margin-bottom: 12px;
    font-family: 'Futura', sans-serif;
}

.itemView-item-size {
    font-size: 1.25em;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #652D2D;
    font-family: 'Futura', sans-serif;
}

.itemView-review-title {
    color: #AF5757;
    font-size: 1em;
    font-family: 'Futura', sans-serif;
    margin-bottom: 0px;
    margin-top: 30px;
}


.itemView-item-measurements {
    width: 100%;
    margin-top:0px;
    font-size: 12px;
    color: gray;
    font-family: 'Futura', sans-serif;
    margin-bottom: 20px;
}

.itemView-shop-btn {
    background-color: #E86B6A;
    padding: 10px 50px;
    font-family: 'Futura', sans-serif;
    font-size: 1.1em;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}

.itemView-text-small {
    font-family: 'Futura', sans-serif;
    color: #652D2D;
    font-size: 0.75em;
    line-height: 1.25em;
    text-transform: uppercase;
}

.itemView-shop-btn:hover {
    background-color: #CE4241;
}

.itemView-backbtn {
    font-size: 1.1em;
    cursor: pointer;
}

.itemView-save-btn {
    text-align: center;
    width: 100%;
    margin: auto;
    background-color: #f1f1f1;
    border: none;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}

.itemView-save-btn:hover{
    text-decoration: underline;
}

.itemView-backbtn {
    color: #652D2D;
    background-color: white;
    border: none;
    font-family: 'Futura', sans-serif;
    margin-bottom: 20px;

}

.itemView-review {
    font-family: 'Futura', sans-serif;
    display: flex;
    flex-direction: row;
    color: #707070;
    border-bottom: 1px solid #E4E4E4;
    margin-bottom: 45px;
}

.itemView-numRating {

    min-width: 75px;
    font-size: 1.25em;
    color: #400F23;
}

.itemView-comment {
    flex-basis: 80%;
    margin-bottom: 5px;
}

.itemView-review-name {
    width: 100%;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.itemView-img {
    width: 75%;
    max-width: 480px;
}

@media (max-width: 1111px) {
    .itemView-titleBtn-div {
        flex-wrap: wrap;
    }

    .itemView-shop-btn {
        margin-top: 16px;
    }
}



@media (max-width: 980px) {
    .itemView {
        height: auto;
    }
    
    .itemView-c1-inner {
        flex-wrap: wrap-reverse;
        height: calc(100% - 50px);
    }
    .itemView-c1-right {
        flex: 0 0 100%;
    }

    .itemView-c1-left {
        flex: 0 0 100%;
        
    }

    .itemView-img {
        width: 40%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .itemView-shop-btn {
        margin-top: 40px;
    }
}

@media (max-width: 500px) {
    .itemView-titleBtn-div {
        flex-wrap: wrap;
    }
    .itemView-title-div {
        flex-basis: 100%;
        padding-bottom: 30px;
    }
    .itemView-shop-btn {
        flex-basis: 100%;
    }

    .itemView-img {
        width: 60%;
        margin-top: 30px;
        margin-bottom: 30px;
        
    }

    .itemView-shop-btn {
        margin-top: 0px;
    }
}
