.nav-outer {
  /*overflow: hidden;*/
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.nav-inner {
  width: 100%;
  padding: 0px 50px;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.nav-c1 {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-c2 {
  flex-basis: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-c3 {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.nav-href {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Helvetiva Neue', sans-serif;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.nav-href-black {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1em;
  font-family: 'Helvetiva Neue', sans-serif;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.nav-profile-btn {
  color: white;
  font-family: 'Helvetiva Neue', sans-serif;
  text-decoration: none;
  font-size: 0.9em;
}

.nav-profile-btn:hover {
  text-decoration: underline;
}

.nav-href:hover {
  font-weight: bolder;
}

.nav-href-black:hover {
  font-weight: bolder;
}

a:focus {
  outline: none;
}

.nav-logo-right {
  display: none;
}

@media (max-width: 1080px) {
  .nav-c1 {
    flex-basis: 30%;
  }

  .nav-c2 {
    flex-basis: 40%;
  }

  .nav-c3 {
    flex-basis: 30%;
  }
}

@media (max-width: 900px) {
  .nav-signin-btn {
    margin-right: 30px;
  }

  .nav-inner {
    padding: 0px 30px;
  }
}

@media (max-width: 700px) {
  .nav-signin-btn {
    margin-right: 20px;
  }

  .nav-inner {
    padding: 0px 20px;
  }
}

@media (max-width: 640px) {
  .nav-logo-center {
    display: none;
  }

  .nav-logo-right {
    display: block;
  }

  .nav-c1 {
    flex-basis: 40%;
  }

  .nav-c2 {
    flex-basis: 20%;
  }

  .nav-c3 {
    flex-basis: 40%;
  }

  .nav-signup-btn {
    padding: 7px 17px;
  }
}

@media (max-width: 460px) {
  .nav-c1 {
    flex-basis: 45%;
  }

  .nav-c2 {
    flex-basis: 10%;
  }

  .nav-c3 {
    flex-basis: 45%;
  }
}

@media (max-width: 410px) {
  .nav-signin-btn {
    margin-right: 10px;
  }

  .nav-c1 {
    flex-basis: 50%;
  }

  .nav-c2 {
    flex-basis: 0%;
  }

  .nav-c3 {
    flex-basis: 50%;
  }
}

/* Dropdown Button */
.dropbtn {
  padding-top: 17.6px;
  padding-bottom: 17.6px;
  font-size: 0.8em;
  border: none;
  background-color: unset;
  color: black;
  cursor: pointer;
  font-family: 'Helvetiva Neue', sans-serif;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 0.9em;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'Helvetiva Neue', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.nav-whitearrow {
  padding-left: 1px;
  width: 10px;
}

.dropdown hr {
  border-top-color: black;
  opacity: 0.2;
  margin-top: 15px;
  margin-bottom: 15px;
}
