.nav-outer {
    overflow: hidden;
    height: 50px;
    background-color: rgba(42, 0, 17, 0.69);
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.nav-inner {
    width: 100%;
    padding: 0px 50px;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.nav-c1 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-c2 {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-c3 {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.nav-signup-btn {
    color: white;
    font-family: 'Gibson', sans-serif;
    border: 1px solid white;
    background-color: unset;
    font-size: 1em;
    padding: 7px 25px;
    text-decoration: none;
    cursor: pointer;
}

.nav-href {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-signin-btn {
    color: white;
    font-family: 'Gibson', sans-serif;
    margin-right: 50px;
    text-decoration: none;
}

.nav-signin-btn:hover {
    font-weight: bold;
}

.nav-signup-btn:hover {
    font-weight: bold;
}

a:focus {
    outline: none;
}

.nav-logo-right {
    display: none;
}

@media (max-width: 1080px) {
    .nav-c1 {
        flex-basis: 30%;
    }

    .nav-c2 {
        flex-basis: 40%;
    }

    .nav-c3 {
        flex-basis: 30%;
    }
}

@media (max-width: 900px) {
    .nav-signin-btn {
        margin-right: 30px;
    }

    .nav-inner {
        padding: 0px 30px;
    }
}

@media (max-width: 680px) {
    .nav-signin-btn {
        margin-right: 20px;
    }

    .nav-inner {
        padding: 0px 20px;
    }
}

@media (max-width: 600px) {
    .nav-logo-center {
        display: none;
    }

    .nav-logo-right {
        display: block;
    }

    .nav-c1 {
        flex-basis: 40%;
    }

    .nav-c2 {
        flex-basis: 20%;
    }

    .nav-c3 {
        flex-basis: 40%;
    }

    .nav-signup-btn {
        padding: 7px 17px;
    }
}

@media (max-width: 460px) {
    .nav-c1 {
        flex-basis: 45%;
    }

    .nav-c2 {
        flex-basis: 10%;
    }

    .nav-c3 {
        flex-basis: 45%;
    }
}

@media (max-width: 410px) {
    .nav-signin-btn {
        margin-right: 10px;
    }

    .nav-c1 {
        flex-basis: 50%;
    }

    .nav-c2 {
        flex-basis: 0%;
    }

    .nav-c3 {
        flex-basis: 50%;
    }
}