.howitworks-parent
{
    flex: 0 0 40%;
    background-color: #5B1C2D;
    /*background-image: url(../../assets/images/item-stripe-light.png);*/
    background-position: center;
    
    overflow-y: scroll;
    height: calc(100vh - 50px);
    overflow-x: hidden;
    padding-top: 50px;
    font-family: 'Raleway', sans-serif;
}

.howitworks-child
{
    height: 25vh;
    display: flex;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    flex-direction: column;
    padding-bottom: 10px;
    padding-top: 5px;
}

.howitworks-child-title
{
    display: flex;
    scroll-behavior: smooth;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin-bottom: 25px;
    padding-top: 30px;
}

.howitworks-desc
{
    font-family: 'Gibson', sans-serif;
    color: #E8DCDC;
    font-size: 0.95em;
    line-height: 1.3em;
    width: 35%;
    margin: 5px;
}

.howitworks-subtitle
{
    color: #E8DCDC;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 1.2em;
    position: relative;
    z-index: 100;
    width: 40%;
    margin-bottom: 5px;
    padding-bottom: 10px;
}

.howitworks-title
{
    color: #2A0011;
    background-color: #E8DCDC;
    font-family: 'DM Serif Display', serif;
    font-size: 2.5em;
    width: 30%;
    position: relative;
    z-index: 100;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.howitworks-callToAction {
    background-color: #E86B6A;
    border-radius: 3px;
    color: white;
    font-size: 1.25em;
    padding: 20px 50px;
    border: none;
    font-family: 'Raleway', sans-serif;
    margin-top: 68px;
    margin-bottom: 88px;
}

.howitworks-parent hr
{
  border-top-color: #521828;
  opacity:0.1;
  width: 80%;
}