.site-footer
{
  background-color:#3C1123;
  padding:20px 0 10px;
  font-size:15px;
  line-height:24px;
  color:#E8DCDC;
  font-family: 'Futura', sans-serif;
}

.row
{
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}

.footer-container
{
    position: relative;
    z-index: 1;
    max-width: 80%;
    margin: 0 auto;
}

.footer-about
{
    max-width: 50%;
    margin-bottom: 5px;
}

.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#E8DCDC;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  margin-bottom: 5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}

.footer-links
{
  padding-left:0;
  list-style:none;
  text-decoration:none;
  color:#E8DCDC;
}

.footer-links a
{
  color:#E8DCDC;
  padding-left:0;
  list-style:none;
  text-decoration:none;
}

.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color: white;
  text-decoration:none;
}

.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0;
  color:#E8DCDC;
  font-size: 0.8em;
}

.footer-social-icons
{
  margin-top:20px;
}


