
.search-parent {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}




.search-child {
    scroll-snap-align: start;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.search-container-first {
    background: linear-gradient(#3E1724, #4E1A29)
}

.search-container-second {
    background: linear-gradient(#4E1A29, #5B1C2D)
}

.search-container-third {
    background: linear-gradient(#5B1C2D, #6C1F32)
}

.search-container-fourth {
    background: linear-gradient(#6C1F32, #8B3447);
    display: flex;
    flex-direction: column;
    
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.search-input {
    background: none;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0px;
    color: white;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    width: 80px;
    font-size: 1.5em;
}

.search-input:focus {
    outline:none;
}

.search-input-error {
    background: none;
    border: none;
    border-bottom: 2px solid #FF8181;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: center;
    border-radius: 0px;
    width: 80px;
    font-size: 1.5em;
    color: #FF8181;
}

.search-input-error:focus {
    outline:none;
}

.search-bra {
    width: 150px;
}

.search-desc {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: left;
}

.search-search-label {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2.5em;
    line-height: 1.5em;
    font-weight: bold;
    letter-spacing: 1.5px;
}

.search-search-content {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.search-size-buttons {
    background: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    color: #D3B1B1;
    font-size: 1.0em;
    margin-top: 15px;
    text-align: left; 
    cursor: pointer;
    font-weight:lighter;
}

.search-size-buttons-selected {
    background: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    color:white;
    font-size: 1.0em;
    margin-top: 15px;
    text-align: left; 
    font-weight: bold;
    cursor: pointer;
}


.search-size-buttons:active {
    color: white;
}

.search-size-buttons:hover {
    color: white;
}

.search-size-buttons:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.search-error-msg {
    font-size: 0.5em;
    color: #FF8181;
}

.hide-search-error-msg {
    display: none;
}

.search-nextDiv-hide {
    display: none;
}

.search-nextDiv {
    margin-top: 30px;
}

.search-ok-btn {
    background-color: #E86B6A;
    padding: 6px 14px;
    border: none;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
    min-height: 40px;
    transition: #E86B6A 0.2s ease 0s, color 0.2s ease 0s, opacity 0.2s ease 0s;
    outline: none;
}

.search-ok-flexWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-ok-text {
    color: white;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 1px;
}

.search-pressEnter {
    color: #D3B1B1;
    font-size: 0.9em;
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-left: 12px;
}


.search-results-btn {
    background-color: #E86B6A;
    color: white;
    font-size: 1.25em;
    margin-bottom: 100px;
    border: none;
    padding: 16px 20px;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.search-results-btn-disabled {
    background-color: #E4E4E4;
    color:#888282;
    font-size: 1.25em;
    margin-bottom: 100px;
    border: none;
    padding: 16px 20px;
    font-family: 'Raleway', sans-serif;

}


.search-size-box {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 50%;
    min-width: 250px;
}

.final-search-label {
    flex-basis: 50%;
    padding-right: 20px;
}

.search-selector {
    flex-basis: 30%;
}

.search-btn-group {
    display: flex;
    flex-direction: column;
}

.search-whitearrow {
    width: 25px;
    padding-left: 15px;
}

input[type=number] {
    -moz-appearance:textfield;
}


@media (max-width: 882px) {
    .search-search-content {
        flex-wrap: wrap;
    }
    .final-search-label {
        padding-right: 0px;
        flex-basis: 100%;
        text-align: center;
    }

    .search-size-buttons {
        text-align: center;
    }

    .search-size-buttons-selected {
        text-align: center;
    }

    .search-desc {
        text-align: center;
    }
}



@media (max-width: 588px) {
    .search-search-label {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 2em;
        
    }
}

@media (max-width: 510px) {
    .search-search-label {
        font-family: 'Raleway', sans-serif;
        color: white;
        font-size: 1.75em;
        line-height: 2em;
        margin-bottom: 0px;
    }

    .search-parent {
        scroll-behavior: unset;
        scroll-snap-type: none;
    }
    .search-child {
        scroll-snap-align: none;
    }
}


@media (max-width: 452px) {
    .search-size-box {
        padding-left:25px;
        padding-right: 25px;
        flex-wrap: wrap;
        min-width: unset;
    }
    .search-selector {
        flex-basis: 100%;
        text-align: center;
        padding-top: 50px;
    }

    .search-btn-group {
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
    }  
    
    .search-search-label {
        letter-spacing: 1px;
    }

    .search-results-btn-disabled {
        font-size: 1em;
    }
    .search-results-btn {
        font-size: 1em;
    }
}

@media (max-width: 440px) {
    .search-form {
        text-align: center;
    }

    .search-results-btn {
        margin-bottom: 0px;
    }

    .search-input {
        width: 60px;
    }
    .search-bra {
        width: 110px;
    }
}


@media (max-width: 402px) {
    .search-whitearrow {
        display: none;
    }
}


@media (max-width: 387px) {
    .search-search-label {
        font-size: 1.55em;
    }
}

@media (max-width: 325px) {
    .search-size-buttons {
        font-size:10px;
    }

    .search-size-buttons-selected {
        font-size: 10px;
    }
}
